name: CI Python Docker Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-python-ci-image:
    runs-on: ubuntu-latest

    env:
      DOCKER_DRIVER: overlay2
      DOCKER_TLS_CERTDIR: ""

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/mishalqamar/session-booking:cicd-python3.11-slim \
            ci_cd/python

      - name: Push Docker image
        run: |
          docker push ghcr.io/mishalqamar/session-booking:cicd-python3.11-slim
